body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  font-family: "Suisse Intl", "Helvetica", "Arial", sans-serif;
}

.body-container {
  display: flex;
  background-color: black;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  background-color: white;
}

/* @media (min-width: 1440px) {
  .body-container {
    background-color: black;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
} */
